ip={{ ansible_default_ipv4.address }}
hostname={{ domainName }}

orgName={{ orgName }}
countryCode={{ countryCode }}
city={{ city }}
state={{ state }}
jksPass={{ jksPass }}
ldapPath={{ ldapPath }}

baseInum='@!AAAA.BBBB.CCCC.DDDD'
inumOrg='@!AAAA.BBBB.CCCC.DDDD!0001!2212.0010'
inumApplicance='@!AAAA.BBBB.CCCC.DDDD!0002!2212.0020'
